<h3> Drag / Drop Testing</h3>

<section id = "dragZone"> 
<ul id="sortable">
  <li class="box">Item 1</li>
  <li class="box">Item 2</li>
  <li class="box">Item 3</li>
  <li class="box">Item 4</li>
  <li class="box">Item 5</li>
</ul>
</section>

<section id = "dropZone"> Drop </section>
<section id = "dataZone"> Dropped Items </section>